@import url(https://fonts.googleapis.com/css?family=Comfortaa);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body, #content {
  height: 100%;
  width: 100%; }

html {
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: black;
  color: white;
  font-family: 'Comfortaa', cursive; }

#content {
  position: relative; }

.request-tag-section {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100vh;
  max-width: 100vw;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1rem;
  text-align: center; }

.loading-image {
  display: none; }

.app-title {
  margin-bottom: 1em;
  font-size: 2.5em; }

.request-tag-form {
  margin-bottom: 2em; }
  .request-tag-form .tag-field, .request-tag-form .submit-tag {
    border-radius: 5em;
    font-family: 'Comfortaa', cursive; }
  .request-tag-form .tag-field {
    width: 100%;
    padding: 0.2em 0.5em;
    margin-bottom: 1em;
    border-style: none;
    font-size: 1.2em;
    text-align: center; }
    .request-tag-form .tag-field:focus {
      outline: none; }
  .request-tag-form .submit-tag {
    padding: 0.5em;
    border: 0.2em double white;
    background-color: black;
    color: white;
    font-size: 1.5em; }

.disclaimer {
  font-size: 0.9em;
  line-height: 1.1em; }
